{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "breakChains": true,
  "methodChaining": {
    "multiline": true,
    "minLength": 2
  }
}
